article {
  display: flex;
  flex-direction: column;
  width:415px;
  border: solid 0.5px black;
  /* background-color: #F2F0F0; */
  margin: 50px 0px;
  -webkit-box-shadow: 10px 10px 1px 0px rgba(0,0,0,0.9);
  -moz-box-shadow: 10px 10px 1px 0px rgba(0,0,0,0.9);
  box-shadow: 10px 10px 1px 0px rgba(0,0,0,0.9);
  
  word-break: break-word;
  
}

.heartTimer{
  display:flex;
  display:row;
  justify-content: space-between;
  align-items:center;
  padding: 10px;
}

.likeThought {
  justify-content: left;
}


.heartButton {
  background-color:#FFADAD;
  border-radius: 50%;
  padding:8px 9px 8px 13px;
  font-size: 18px;
}

.likeThought span {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  /* color: red; */
}

.like {
  display: inline-block;
  text-align: center;
}

h1 {
  font-size:18px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px;
}

p {
  font-size: 14px;
  color: grey;
  font-family: 'Courier New', Courier, monospace;
  margin: 5px;
}
